.txt_m_full {
    width: 100vw;
    height: 90vh;
    position: relative;
}

.txt_m_img {
    border: 5px solid #FF1E91;
}

.txt_m_mem_tr_full {
    width: 530px;
    height: 340px;
}

.txt_m_mem_tr {
    width: 340px;
    height: 150px;
    position: absolute;
    top: 190px;
    left: 95px;
}

.txt_m_mem_tr_full>.tri_m_mem_tr>a>.tri_m_mem>img {
    border: 5px solid #FF1E91;
}

.txt_m_mem_tr_full>.tri_m_mem_tr>a>.tri_m_mem>div {
    border: 5px solid #FF1E91;
}
