.doruri_update_DoruriUpdateAugust5th2026_full {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #fcfcfc;
}

.doruri_update_DoruriUpdateAugust5th2026_intropa_tb {
    height: 200px;
}
