.ten_m_img {
    border: 5px solid #000000;
}

@media (min-width: 975px) {

    .ten_m_full {
        width: 100vw;
        height: 1993px;
        position: relative;
        background-color: #fcfcfc;
    }

    .ten_m_mem_tr_full {
        width: 150px;
        height: 150px;
    }

    .ten_m_mem_tr_full>.tri_m_mem_tr>a>article>img {
        border: 5px solid #000000;
    }

    .ten_m_mem_tr_full>.tri_m_mem_tr>a>article>div {
        border: 5px solid #000000;
    }

    .ten_m_h2_4 {
        position: absolute;
        top: 1143px;
        left: 50%;
        transform: translateX(-50%);
    }

    .ten_m_event_tr_full {
        top: 1203px;
    }

    .ten_m_event_tr_full img,
    .ten_m_event_tr_full div {
        border: 5px solid #000000;
    }

    .ten_m_h2_5 {
        position: absolute;
        top: 1393px;
        left: 50%;
        transform: translateX(-50%);
    }

    .ten_m_album_tr_full {
        top: 1453px;
    }

    .ten_m_album_tr_full img,
    .ten_m_album_tr_full div {
        border: 5px solid #000000;
    }

    .ten_m_h2_6 {
        position: absolute;
        top: 1643px;
        left: 50%;
        transform: translateX(-50%);
    }

    .ten_m_sns_tr_full {
        top: 1703px;
    }

    .ten_m_sns_tr_full img,
    .ten_m_sns_tr_full div {
        border: 5px solid #000000;
    }
}

@media (max-width: 975px) {
    .ten_m_full {
        width: 100vw;
        height: 1102px;
        position: relative;
    }

    .ten_m_mem_tr_full_mobile {
        height: 184px;
    }

    .ten_m_mem_tr_full_mobile>.tri_m_mem_trtr>.tri_m_mem_tr1>a>img {
        border: 5px solid #000000;
    }
}
