.tri_e_p_full {
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
}

.tri_e_p_ticket {
    width: 400px;
    height: 150px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tri_e_p_ticket>img {
    height: 150px;
}
