.tri_e_p_full {
    width: 100vw;
    height: 700px;
    position: absolute;
    z-index: 100;
    top: 401px;
    left: 0px;
    background-color: #fcfcfc;
}

.tri_e_p_h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_e_p_h2>img {
    margin: 0 20px;
}

.tri_e_p_h2>img:last-child {
    transform: rotateZ(180deg);
}

.tri_e_p_win {
    width: 400px;
    height: 375px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_e_p_win_intropp {
    text-align: center;
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
}

/* 105px */


.tri_e_p_ticket {
    width: 400px;
    height: 150px;
    background-color: #fcfcfc;
    border: 5px solid #333;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 145px;
    left: 0px;
}

.tri_e_p_members_img {
    height: 110px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.tri_e_p_logo_img {
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(4px);
    opacity: 0.5;
}

.tri_e_p_pp {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    text-align: right;
    line-height: 140%;
}

.tri_e_p_pp>span {
    font-weight: 600;
}

.tri_e_p_close {
    width: 150px;
    height: 40px;
    border: 5px solid #191919;
    border-radius: 10px;
    background-color: #fcfcfc;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tri_e_p_close_win {
    top: 335px;
}

.tri_e_p_close:hover {
    background-color: #191919;
    color: #fcfcfc;
}

.tri_e_p_pp_lose {
    font-size: 14px;
    text-align: right;
    line-height: 14px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_e_p_close_lose {
    top: 114px;
}
