.triplesevent_full {
    width: 800px;
    height: 1198px;
    background-color: #19191941;
    border-radius: 25px;
    position: absolute;
    z-index: 100000;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0.5px 0.5px 7px 0px rgb(129, 129, 129);
}

.tri_e_logo {
    height: 58px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_e_h2 {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    top: 118px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_e_img {
    width: 520px;
    height: 980px;
    position: absolute;
    top: 178px;
    left: 50%;
    transform: translateX(-50%);
}

.triplesevent_imgt {
    width: 520px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.tri_e_i_1 {
    top: 0px;
    left: 0px;
}

.tri_e_i_2 {
    top: 170px;
    left: 0px;
}

.tri_e_i_3 {
    top: 340px;
    left: 0px;
}

.tri_e_i_4 {
    top: 510px;
    left: 0px;
}

.tri_e_i_5 {
    top: 680px;
    left: 0px;
}

.tri_e_i_6 {
    top: 850px;
    left: 0px;
}

.triplesevent_imgt>img {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 25px;
}

.tri_e_form {
    position: absolute;
    top: 110px;
    left: 0px;
    z-index: 111;
}

.tri_e_form>input {
    width: 100px;
    height: 20px;
    border: 2.5px solid #191919;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ebebeb;
}

.tri_e_fo1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tri_e_fo2 {
    position: absolute;
    top: 0px;
    left: 140px;
}

.tri_e_fo3 {
    position: absolute;
    top: 0px;
    left: 280px;
}

.tri_e_fo4 {
    position: absolute;
    top: 0px;
    left: 420px;
}

.tri_e_fo5 {
    position: absolute;
    top: 170px;
    left: 0px;
}

.tri_e_fo6 {
    position: absolute;
    top: 170px;
    left: 140px;
}

.tri_e_fo7 {
    position: absolute;
    top: 170px;
    left: 280px;
}

.tri_e_fo8 {
    position: absolute;
    top: 170px;
    left: 420px;
}

.tri_e_fo9 {
    position: absolute;
    top: 340px;
    left: 0px;
}

.tri_e_fo10 {
    position: absolute;
    top: 340px;
    left: 140px;
}

.tri_e_fo11 {
    position: absolute;
    top: 340px;
    left: 280px;
}

.tri_e_fo12 {
    position: absolute;
    top: 340px;
    left: 420px;
}

.tri_e_fo13 {
    position: absolute;
    top: 510px;
    left: 0px;
}

.tri_e_fo14 {
    position: absolute;
    top: 510px;
    left: 140px;
}

.tri_e_fo15 {
    position: absolute;
    top: 510px;
    left: 280px;
}

.tri_e_fo16 {
    position: absolute;
    top: 510px;
    left: 420px;
}

.tri_e_fo17 {
    position: absolute;
    top: 680px;
    left: 0px;
}

.tri_e_fo18 {
    position: absolute;
    top: 680px;
    left: 140px;
}

.tri_e_fo19 {
    position: absolute;
    top: 680px;
    left: 280px;
}

.tri_e_fo20 {
    position: absolute;
    top: 680px;
    left: 420px;
}

.tri_e_fo21 {
    position: absolute;
    top: 850px;
    left: 0px;
}

.tri_e_fo22 {
    position: absolute;
    top: 850px;
    left: 140px;
}

.tri_e_fo23 {
    position: absolute;
    top: 850px;
    left: 280px;
}

.tri_e_fo24 {
    position: absolute;
    top: 850px;
    left: 420px;
}
