.all_AlldayProjectIDonBargainAlbum_full {
    width: 100vw;
    height: 1033px;
    position: relative;
    background-color: #fcfcfc;
}

.all_AlldayProjectIDonBargainAlbum_img {
    border: 5px solid #000000;
}

.all_AlldayProjectIDonBargainAlbum_tb2 {
    height: 100px;
}
