.footerpart_full {
    width: 100vw;
    height: 100px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #333;
}

.FooterPart_company_pp {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: #e6e6e6;
}
