.home_full {
    width: 100vw;
    height: 180vh;
    background-color: #e6e6e6;
    position: relative;
}

.home_translate {
    position: fixed;
    top: 0px;
    right: 100px;
    background-color: #e6e6e6;
    z-index: 1000000;
}

.home_translate>a.on {
    background-color: #333;
    color: #e6e6e6;
}
