@media (min-width: 975px) {

    .aes_m_full {
        width: 100vw;
        height: 2183px;
        position: relative;
        background-color: #fcfcfc;
    }

    .aes_m_mem_tr_full {
        width: 340px;
        height: 340px;
    }

    .aespa_m_h2_4 {
        position: absolute;
        top: 1333px;
        left: 50%;
        transform: translateX(-50%);
    }

    .aespa_m_event_tr_full {
        top: 1393px;
    }

    .aespa_m_h2_5 {
        position: absolute;
        top: 1583px;
        left: 50%;
        transform: translateX(-50%);
    }

    .aespa_m_album_tr_full {
        top: 1643px;
    }

    .aespa_m_h2_6 {
        position: absolute;
        top: 1833px;
        left: 50%;
        transform: translateX(-50%);
    }

    .aespa_m_sns_tr_full {
        top: 1893px;
    }
}

@media (max-width: 975px) {
    .aes_m_full {
        width: 100vw;
        height: 1286px;
        position: relative;
    }

    .aes_m_mem_tr_full_mobile {
        width: 100vw;
        height: 368px;
    }
}
