.AlldayProjectEvent_full {
    width: 100vw;
    height: 1000px;
    position: relative;
}

.alldayproject_e_maze_full {
    width: 100vw;
    height: 410px;
    position: relative;
}

.alldayproject_e_maze {
    width: 370px;
    height: 370px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.alldayproject_e_maze_realfield {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 40px;
    left: 40px;
    border: 5px solid #333;
    border-radius: 10px;
}

.alldayproject_e_maze_x_box {
    width: 40px;
    height: 40px;
    border: 5px solid #333;
    border-radius: 10px;
    position: absolute;
}

.alldayproject_e_maze_x_box>p,
.alldayproject_e_maze_running_box>p,
.alldayproject_e_maze_goal>p {
    font-weight: 700;
    font-size: 19px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alldayproject_e_maze_x_box1 {
    top: 40px;
    left: 40px;
}

.alldayproject_e_maze_x_box2 {
    top: 40px;
    left: 120px;
}

.alldayproject_e_maze_x_box3 {
    top: 40px;
    left: 200px;
}

.alldayproject_e_maze_x_box4 {
    top: 120px;
    left: 40px;
}

.alldayproject_e_maze_x_box5 {
    top: 120px;
    left: 120px;
}

.alldayproject_e_maze_x_box6 {
    top: 120px;
    left: 200px;
}

.alldayproject_e_maze_x_box7 {
    top: 200px;
    left: 40px;
}

.alldayproject_e_maze_x_box8 {
    top: 200px;
    left: 120px;
}

.alldayproject_e_maze_x_box9 {
    top: 200px;
    left: 200px;
}

.alldayproject_e_maze_running_box {
    width: 40px;
    height: 40px;
    border: 5px solid #333;
    border-radius: 10px;
    position: absolute;
    transition: all 0.6s ease 0s;
    background-color: #fcfcfc;
    z-index: 2;
}

.alldayproject_e_maze_goal {
    width: 40px;
    height: 40px;
    border: 5px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: -40px;
    left: 120px;
}

.alldayproject_e_maze_RB_buttons_full {
    width: 100vw;
    height: 200px;
    position: relative;
}

.alldayproject_e_maze_RB_buttons {
    width: 340px;
    height: 160px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.alldayproject_e_maze_RB_button {
    width: 150px;
    height: 40px;
    border: 5px solid #191919;
    border-radius: 10px;
    background-color: #fcfcfc;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    margin: 0;
}

.alldayproject_e_maze_RB_button:hover {
    background-color: #191919;
    color: #fcfcfc;
}

.alldayproject_e_maze_RB_to_top {
    top: 0px;
    left: 95px;
}

.alldayproject_e_maze_RB_to_down {
    top: 120px;
    left: 95px;
}

.alldayproject_e_maze_RB_to_left {
    top: 60px;
    left: 0px;
}

.alldayproject_e_maze_RB_to_right {
    top: 60px;
    right: 0px;
}
