@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
    letter-spacing: -0.02em;
    color: #333;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

@media (min-width: 975px) {
    .song_main_full {
        width: 100vw;
        background-color: #fcfcfc;
    }

    header {
        width: 100vw;
        height: 100px;
        position: fixed;
        background-color: #333;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        top: 0px;
        left: 0px;
        z-index: 100000;
    }

    .menu_logo {
        display: block;
        width: 100px;
        height: 50px;
        border: 1px solid red;
    }

    .home_translate {
        position: fixed;
        top: 0px;
        right: 100px;
        background-color: #e6e6e6;
        z-index: 1000000;
    }

    .home_translate>a.on {
        background-color: #333;
        color: #e6e6e6;
    }

    /* .menu_mobile_button {
        display: none;
    } */

    /* .menu_mobile_off {
        display: none;
    } */

    .menu_nav {
        width: 600px;
        height: 40px;
        position: absolute;
        top: 60px;
        right: 60px;
    }

    .menu_nav_li_btn1 {
        display: none;
    }

    .menu_nav>ul {
        display: flex;
    }

    .menu_nav>ul>li {
        width: 150px;
        height: 40px;
        background-color: #d6d6d6;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        overflow: hidden;
        transition: all 0.6s ease 0s;
    }



    .menu_nav>ul a {
        display: block;
        width: 150px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }

    .menu_nav>ul>li:hover {
        height: 200px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .menu_nav>ul>li:hover>a {
        color: #e6e6e6;
        background-color: #575656;
    }

    .menu_nav>ul>li>ul>li>a:hover {
        color: #e6e6e6;
        background-color: #575656;
    }

    .header_ghost {
        width: 100vw;
        height: 140px;
    }

    .song_main_h2_section {
        width: 100vw;
        height: 60px;
        position: relative;
        background-color: brown;
    }

    .song_main_h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    .song_main_h2>img {
        margin: 0 20px;
    }

    .song_main_h2>img:last-child {
        transform: rotateZ(180deg);
    }

    .song_main_intropp {
        width: 100vw;
        height: 103px;
    }

    .song_main_intropp>p {
        text-align: center;
        font-size: 15px;
        line-height: 140%;
        font-weight: 500;
    }

    .song_main_img {
        width: 100vw;
        height: 240px;
        position: relative;
    }

    .song_main_img>img {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 25px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    .song_main_tb1 {
        width: 400px;
        height: 150px;
        border-collapse: collapse;
        margin: 0 auto;
    }

    .song_main_tb1>tbody>tr {
        position: relative;
    }

    .song_main_tb1>tbody>tr>td:first-child {
        position: absolute;
        width: 115px;
        height: 50px;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: #333;
        border-top: 5px solid #e6e6e6;
        border-left: 5px solid #e6e6e6;
        border-right: 5px solid #e6e6e6;

    }

    .song_main_tb1>tbody>tr>td:first-child>p {
        position: absolute;
        top: 50%;
        left: 10px;
        color: #e6e6e6;
        transform: translateY(-50%);
        font-weight: 600;
    }

    /* 좌우 15이상 되게 */

    .song_main_tb1>tbody>tr>td:last-child {
        width: 285px;
        height: 50px;
        position: absolute;
        top: 0px;
        left: 115px;
        border-top: 5px solid #333;
        border-right: 5px solid #333;
    }

    .song_main_tb1>tbody>tr>td:last-child>p {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    .song_main_tb1_tr1>td:first-child {
        border-top-left-radius: 15px;
    }

    .song_main_tb1_tr1>td:last-child {
        border-top-right-radius: 15px;
    }

    .song_main_tb1_tr3>td:first-child {
        border-bottom-left-radius: 15px;
    }

    .song_main_tb1_tr3>td:last-child {
        border-bottom-right-radius: 15px;
        border-bottom: 5px solid #333;
    }

    .song_main_tb1_ghost {
        width: 100vw;
        height: 40px;
        background-color: aqua;
    }

    .song_main_tb2 {
        width: 400px;
        /* height: 150px; */
        border-collapse: collapse;
        margin: 0 auto;
    }

    .song_main_tb2>tbody>tr {
        height: 50px;
        position: relative;
    }

    .song_main_tb2>tbody>tr>td:first-child {
        position: absolute;
        width: 115px;
        height: 50px;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: #333;
        border-top: 5px solid #e6e6e6;
        border-left: 5px solid #e6e6e6;
        border-right: 5px solid #e6e6e6;
    }

    .song_main_tb2>tbody>tr>td:first-child>p {
        position: absolute;
        top: 50%;
        left: 10px;
        color: #e6e6e6;
        transform: translateY(-50%);
        font-weight: 600;
    }

    /* 좌우 15이상 되게 */

    .song_main_tb2>tbody>tr>td:last-child {
        width: 285px;
        height: 50px;
        position: absolute;
        top: 0px;
        left: 115px;
        border-top: 5px solid #333;
        border-right: 5px solid #333;
    }

    .song_main_tb2>tbody>tr>td:last-child>p {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    .song_main_tb2_tr1>td:first-child {
        border-top-left-radius: 15px;
    }

    .song_main_tb2_tr1>td:last-child {
        border-top-right-radius: 15px;
    }

    .song_main_tb2_tr9>td:first-child {
        border-bottom-left-radius: 15px;
    }

    .song_main_tb2_tr9>td:last-child {
        border-bottom-right-radius: 15px;
        border-bottom: 5px solid #333;
    }

    footer {
        width: 100vw;
        height: 100px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        position: relative;
        background-color: #333;
    }

    footer>p {
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        color: #e6e6e6;
    }
}
