@media (min-width: 975px) {

    .bol_m_full {
        width: 100vw;
        height: 1993px;
        position: relative;
        background-color: #fcfcfc;
    }

    .bol_m_mem_tr_full {
        width: 150px;
        height: 150px;
    }

    .bol4_m_h2_4 {
        position: absolute;
        top: 1143px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bol4_m_event_tr_full {
        top: 1203px;
    }

    .bol4_m_h2_5 {
        position: absolute;
        top: 1393px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bol4_m_album_tr_full {
        top: 1453px;
    }

    .bol4_m_h2_6 {
        position: absolute;
        top: 1643px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bol4_m_sns_tr_full {
        top: 1703px;
    }
}

@media (max-width: 975px) {
    .bol_m_full {
        width: 100vw;
        height: 1102px;
        position: relative;
    }

    .bol_m_mem_tr_full_mobile {
        height: 184px;
    }
}
