.txt_mm_yeonjun_NOLABELSPART02Album_full {
    width: 100vw;
    height: 1283px;
    position: relative;
    background-color: #fcfcfc;
}

.txt_mm_yeonjun_NOLABELSPART02Album_tb2 {
    height: 350px;
}
