.txt_mm_yeonjun_NOLABELSPART01Album_full {
    width: 100vw;
    height: 1283px;
    position: relative;
    background-color: #fcfcfc;
}

.txt_mm_yeonjun_NOLABELSPART01Album_tb2 {
    height: 350px;
}

.txt_mm_yeonjun_NOLABELSPART01Album_img {
    border: 5px solid #FF1E91;
}
