@media (min-width: 975px) {

    .epi_m_full {
        width: 100vw;
        height: 1983px;
        position: relative;
        background-color: #fcfcfc;
    }

    .epi_m_img {
        border: 5px solid #000000;
    }

    .epi_m_mem_tr_full {
        width: 530px;
        height: 150px;
    }

    .epi_m_mem_tr_full>section>a>article>img {
        border: 5px solid #000000;
    }

    .epi_m_mem_tr_full>section>a>article>h4 {
        border: 5px solid #000000;
    }

    .epikhigh_m_h2_4 {
        position: absolute;
        top: 1133px;
        left: 50%;
        transform: translateX(-50%);
    }

    .epikhigh_m_event_tr_full {
        top: 1193px;
    }

    .epikhigh_m_event_a img,
    .epikhigh_m_event_a div {
        border: 5px solid #000000;
    }

    .epikhigh_m_h2_5 {
        position: absolute;
        top: 1383px;
        left: 50%;
        transform: translateX(-50%);
    }

    .epikhigh_m_album_tr_full {
        top: 1443px;
    }

    .epikhigh_m_album_a img,
    .epikhigh_m_album_a div {
        border: 5px solid #000000;
    }

    .epikhigh_m_h2_6 {
        position: absolute;
        top: 1633px;
        left: 50%;
        transform: translateX(-50%);
    }

    .epikhigh_m_sns_tr_full {
        width: 150px;
        top: 1693px;
    }


}

@media (max-width: 975px) {
    .epi_m_full {
        width: 100vw;
        height: 1286px;
        position: relative;
    }

    .epi_m_mem_tr_full_mobile {
        width: 100vw;
        height: 368px;
    }
}
