.tri_mm_s1_full {
    width: 1200px;
    height: 300px;
    background-color: antiquewhite;
    margin: 0 auto;
}

.tri_mm_s1_full>header {
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.tri_mm_s1_full>header>h2 {
    text-align: center;
    line-height: 50px;
}

.tri_mm_s1_intropa_tb {
    width: 400px;
    height: 450px;
    border-collapse: collapse;
}

.tri_mm_s1_intropa_tb>tbody>tr {
    position: relative;
}

.tri_mm_s1_intropa_tb>tbody>tr>td:first-child {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0px;
    left: 0px;
    z-index: 2;
    
    background-color: #333;
}

.tri_mm_s1_intropa_tb>tbody>tr>td:first-child>p {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #e6e6e6;
    transform: translateY(-50%);
}

.tri_mm_s1_intropa_tb>tbody>tr>td:last-child {
    width: 315px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 85px;
    border-top: 5px solid #333;
    border-right: 5px solid #333;

}

.tri_mm_s1_intropa_tb_tr1>td:first-child {
    border-top-left-radius: 15px;
}

.tri_mm_s1_intropa_tb_tr1>td:last-child {
    border-top-right-radius: 15px;
}

.tri_mm_s1_intropa_tb_tr9>td:first-child {
    border-bottom-left-radius: 15px;
}

.tri_mm_s1_intropa_tb_tr9>td:last-child {
    border-bottom-right-radius: 15px;
    border-bottom: 5px solid #333;
}
