.akmu_AkmuLoveEpisodeAlbum_full {
    width: 100vw;
    height: 1283px;
    position: relative;
    background-color: #fcfcfc;
}

.akmu_AkmuLoveEpisodeAlbum_img {
    border: 5px solid #13983f;
}

.akmu_AkmuLoveEpisodeAlbum_tb2 {
    height: 350px;
}
