.straykidsEvent_full {
    width: 100vw;
    height: 1000px;
    position: relative;
}

.str_e_form_part {
    width: 150px;
    height: 300px;
    position: absolute;
    top: 401px;
    left: 50%;
    transform: translateX(-50%);
}

.str_e_form_indiv {
    width: 150px;
    height: 30px;
    border: 5px solid #191919;
    border-radius: 10px;
    position: absolute;
}

.str_e_form_indiv>input {
    width: 130px;
    background-color: #fcfcfc;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.str_e_form_indiv1 {
    top: 0px;

}

.str_e_form_indiv2 {
    top: 70px;
}

.str_e_form_indiv3 {
    top: 140px;
}

.str_e_last_result {
    position: absolute;
    top: 210px;
}
