/* 좌우 여백 15px 정도로 */

@media (min-width: 975px) {
    .doruri_map_idollist_full {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .doruri_map_idollist_goback {
        position: absolute;
        top: 300px;
    }

    .doruri_map_idollist_idollist {
        position: absolute;
        top: 150px;
    }

    .doruri_map_idollist_nav {
        width: 920px;
        height: 40px;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
    }

    .doruri_map_idollist_nav>ul {
        display: flex;
        width: 920px;
        overflow-x: scroll;
    }

    .doruri_map_idollist_nav>ul>li {
        width: 230px;
        height: 40px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        background-color: #d6d6d6;
        transition: all 0.6s ease 0s;
        overflow: hidden;
        flex-shrink: 0;
    }

    .doruri_map_idollist_nav a {
        display: block;
        width: 230px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }

    .doruri_map_triplesmain_li:hover {
        height: 1000px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .doruri_map_txtmain_li:hover {
        height: 240px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .doruri_map_akmumain_li:hover {
        height: 120px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .doruri_map_ioimain_li:hover {
        height: 480px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .doruri_map_strmain_li:hover {
        height: 360px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .doruri_map_twsmain_li:hover {
        height: 280px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .doruri_map_idollist_nav>ul>li:hover>a {
        color: #e6e6e6;
        background-color: #575656;
    }

    .doruri_map_idollist_nav>ul>li>ul>li>a:hover {
        color: #e6e6e6;
        background-color: #575656;
    }

}
