.epi_EpikHighBruzHalipaOursVersionAlbum_full {
    width: 100vw;
    height: 1033px;
    position: relative;
    background-color: #fcfcfc;
}

.epi_EpikHighBruzHalipaOursVersionAlbum_img {
    border: 5px solid #000000;
}

.epi_EpikHighBruzHalipaOursVersionAlbum_tb2 {
    height: 100px;
}
