.tri_nxt_m_full {
    width: 100vw;
    height: 1673px;
    position: relative;
    background-color: #fcfcfc;
}

.tri_nxt_m_mem_tr_full {
    width: 340px;
    height: 340px;
}

.tri_nxt_m_h2_5 {
    position: absolute;
    top: 1323px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_nxt_m_album_tr_full {
    top: 1383px;
}
