.tri_m_full {
    width: 100vw;
    height: 90vh;
    position: relative;
}

.tri_m_logo {
    height: 100px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_m_h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

}

.tri_m_h2_1 {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_m_intropp {
    text-align: center;
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
}

/*위에꺼 height63px  */

.tri_m_img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    position: absolute;
    top: 343px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #191919;
}

.tri_m_h2_2 {
    position: absolute;
    top: 783px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_m_mem_tr_full {
    width: 720px;
    height: 1100px;
    position: absolute;
    top: 843px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tri_m_mem_tr {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.tri_m_mem_a {
    display: block;
    width: 150px;
    height: 150px;
}

.tri_m_mem {
    width: 150px;
    height: 150px;
    position: relative;
}

.tri_m_mem>img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 25px;
    border: 3px solid #191919;
    opacity: 1;
    transform: rotateY(0deg);
    transition: all 0.6s ease 0s;
}

.tri_m_mem:hover>img {
    opacity: 0;
    transform: rotateY(-180deg);
}

.tri_m_mem>h4 {
    font-weight: 700;
    font-size: 19px;
    line-height: 150px;
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #191919;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transform: rotateY(-180deg);
    transition: all 0.6s ease 0s;
}

.tri_m_mem:hover>h4 {
    opacity: 1;
    transform: rotateY(0deg);
}
