.tri_m_full {
    width: 100vw;
    height: 90vh;
    position: relative;
}

.tri_m_logo {
    height: 100px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.tri_m_intropp {
    text-align: center;
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
}

/* height63px  */

.tri_m_img {
    width: 400px;
    height: 400px;
    background-color: aqua;
}

.tri_m_mem {
    width: 150px;
    height: 150px;
    position: relative;
    /* absolute로 바꾸기  */
    background-color: aquamarine;
}

.tri_m_mem>img {
    width: 150px;
    height: 150px;
    display: block;
    border: 3px solid red;
    opacity: 1;
    transform: rotateY(0deg);
    transition: all 0.6s ease 0s;
}

.tri_m_mem:hover>img {
    opacity: 0;
    transform: rotateY(-180deg);
}

.tri_m_mem>h4 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transform: rotateY(-180deg);
    transition: all 0.6s ease 0s;
}

.tri_m_mem:hover>h4 {
    opacity: 1;
    transform: rotateY(0deg);
}
