.tri_TriplesDreamDressAlbum_full {
    width: 100vw;
    height: 1033px;
    position: relative;
    background-color: #fcfcfc;
}

.tri_moon_TriplesDreamDressAlbum_img {
    border: 5px solid #e7cb82;
}

.tri_TriplesDreamDressAlbum_tb2 {
    height: 100px;
}
