.txt_Txt7thYearAlbum_full {
    width: 100vw;
    height: 1283px;
    position: relative;
    background-color: #fcfcfc;
}

.txt_Txt7thYearAlbum_img {
    border: 5px solid #FF1E91;
}

.txt_Txt7thYearAlbum_tb2 {
    height: 350px;
}
