.res_RescenePrettyGirlSpecialSingleAlbum_full {
    width: 100vw;
    height: 1033px;
    position: relative;
    background-color: #fcfcfc;
}

.res_RescenePrettyGirlSpecialSingleAlbum_tb2 {
    height: 100px;
}
