.tri_nep_m_full {
    width: 100vw;
    height: 1423px;
    position: relative;
    background-color: #fcfcfc;
}

.tri_nep_m_img {
    border: 5px solid #99ACCC;
}

.tri_nep_m_mem_tr_full {
    width: 530px;
    height: 340px;
}

.tri_nep_m_mem_tr_full>.tri_m_mem_tr>a>.tri_m_mem>img {
    border: 5px solid #99ACCC;
}

.tri_nep_m_mem_tr_full>.tri_m_mem_tr>a>.tri_m_mem>div {
    border: 5px solid #99ACCC;
}
