.ioi_IoiSmileByeAlbum_full {
    width: 100vw;
    height: 1033px;
    position: relative;
    background-color: #fcfcfc;
}

.ioi_IoiSmileByeAlbum_img {
    border: 5px solid #F4CE9D;
}

.ioi_IoiSmileByeAlbum_tb2 {
    height: 100px;
}
