.idn_Unevermet_m_full {
    width: 100vw;
    height: 1433px;
    position: relative;
    background-color: #fcfcfc;
}

.idn_Unevermet_m_mem_tr_full {
    height: 340px;
}

.idn_Unevermet_m_mem_tr4 {
    width: 720px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
}

.idn_Unevermet_m_mem_tr3 {
    width: 530px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 190px;
    left: 95px;
}
