.tri_aaa_m_full {
    width: 100vw;
    height: 90vh;
    position: relative;
}

.tri_aaa_m_mem_tr_full {
    width: 340px;
    height: 340px;
}

.tri_aaa_m_img {
    border: 5px solid #DB3475;
}

.tri_aaa_m_mem_tr_full>section>a>article>img {
    border: 5px solid #DB3475;
}

.tri_aaa_m_mem_tr_full>section>a>article>h4 {
    border: 5px solid #DB3475;
}
