* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    letter-spacing: -0.02em;
    text-decoration: none;
    list-style: none;
}

.Menu_full {
    width: 100vw;
    height: 80px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #333;
    background-color: #fcfcfc;
}

header {
    width: calc(100vw - 10px);
    height: 70px;
    position: relative;
}

.Menu_button {
    width: 35px;
    height: 35px;
    background-color: antiquewhite;
    position: absolute;
    top: 17.5px;
    left: 20px;
}
