* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    letter-spacing: -0.02em;
    text-decoration: none;
    list-style: none;
}

.Menu_full {
    width: 100vw;
    height: 80px;
    position: relative;
}

header {
    width: 100vw;
    height: 80px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #333;
    background-color: #fcfcfc;
    position: relative;
    z-index: 999;
}

.Menu_button {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 17.5px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Menu_button.on {
    animation: Menu_button_on 0.6s ease 0s;
}

@keyframes Menu_button_on {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Menu_button.off {
    animation: Menu_button_off 0.6s ease 0s;
}

@keyframes Menu_button_off {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.Menu_button>div {
    width: 35px;
    height: 7px;
    background-color: #333;
    border-radius: 3.5px;
}

.header_wrap {
    width: 100vw;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 5px solid #333;
    background-color: #fcfcfc;
    z-index: 99;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
