.doruri_update_full {
    width: 100vw;
    height: 1000px;
    position: relative;
    background-color: #fcfcfc;
}

.doruri_update_m_h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.doruri_update_m_h2>img {
    margin: 0 20px;
}

.doruri_update_m_h2>img:last-child {
    transform: rotateZ(180deg);
}

.doruri_update_train_full {
    width: 720px;
    height: 720px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doruri_update_train {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.doruri_update_train>a {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 5px solid #333;
    position: relative;
}

.doruri_update_train>a>h4 {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    display: block;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doruri_update_train>a:hover {
    background-color: #333;
    border: 5px solid #e6e6e6;
}

.doruri_update_train>a:hover>h4 {
    color: #e6e6e6;
}

.doruri_update_page_number {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 960px;
    left: 50%;
    transform: translateX(-50%);
}

.doruri_update_page_number>a {
    display: block;
    width: 40px;
    height: 40px;
    border: 5px solid #333;
    background-color: #e6e6e6;
    border-radius: 10px;
    position: relative;
}

.doruri_update_page_number>a>h4 {
    font-weight: 700;
    font-size: 19px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doruri_update_page_number>a:hover {
    border: 5px solid #e6e6e6;
    background-color: #333;
}

.doruri_update_page_number>a:hover>h4 {
    color: #e6e6e6;
}

.doruri_update_page_number>a.on {
    border: 5px solid #e6e6e6;
    background-color: #333;
}

.doruri_update_page_number>a.on>h4 {
    color: #e6e6e6;
}
