.idn_mm_id14_full {
    width: 100vw;
    height: 1083px;
    position: relative;
    background-color: #fcfcfc;
}

.idn_mm_id14_img {
    border: 5px solid #0957c3;
}

.idn_mm_id14_intropa_tb {
    height: 400px;
}
