.tri_evo_m_full {
    width: 100vw;
    height: 1423px;
    position: relative;
    background-color: #fcfcfc;
}

.tri_evo_m_img {
    border: 5px solid #000000;
}

.tri_evo_m_mem_tr_full {
    width: 720px;
    height: 340px;
}

.tri_evo_m_mem_tr_full>.tri_m_mem_tr>a>.tri_m_mem>img {
    border: 5px solid #000000;
}

.tri_evo_m_mem_tr_full>.tri_m_mem_tr>a>.tri_m_mem>div {
    border: 5px solid #000000;
}
