.ioi_mm_yuyeonjung_full {
    width: 100vw;
    height: 983px;
    position: relative;
}

.ioi_mm_yuyeonjung_img {
    border: 5px solid #F4CE9D;
}

.ioi_mm_yuyeonjung_intropa_tb {
    height: 300px;
}
