* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full {
    width: 120px;
    height: 120px;
    background-color: aquamarine;
    position: relative;
}

.real_box {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: blue;
}

.one_1_1 {
    bottom: 0px;
    left: 0px;
}

.one_1_2 {
    bottom: 0px;
    left: 80px;
}

.box_225 {
    width: 5px;
    height: 22.5px;
    background-color: blue;
    position: absolute;
}

.one_1_1_to_one_1 {
    bottom: 40px;
    left: 17.5px;
}

.one_1_2_to_one_1 {
    bottom: 40px;
    left: 97.5px;
}
