/* .doruri_map_full {} */

/* .doruri_map_full>nav {} */

.doruri_map_full>nav {
    position: absolute;
    width: 600px;
    height: 50px;
}

.doruri_map_full>nav>ul {
    display: flex;
}

.doruri_map_full>nav>ul>li {
    width: 25%;
    height: 100%;
    background-color: aqua;
}

.doruri_map_full>nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.doruri_map_full>nav>ul>li:hover>a {
    background-color: aquamarine;
}
